extends layout

block content
  nav#mainNav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        a.navbar-toggle(data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#main') Accesmusic
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#about') Sobre el proyecto
          li
            a(href='#howWorks') Funcionamiento
          li
            a(href='#formats') Formatos manejados
          li
            a(href='#contact') Contacto